<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Documentación utilizada <span id="js-rotating">en docencia</span></h4>
  </div>
  <div class="user-content">
    <p>
      Javier García, profesor de secundaria de la especialiad de informática. IES la sénia, Paiporta
    </p>
  </div>
</div>