<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
  </div>
  <div class="user-content">
    <h1> Proyecto diseñado para el segundo curso del ciclo de grado medio del ciclo servicios microinformaticos y redes. En el modulo de Servicos en Red
     </h1>
     <h2>The  last  of  us</h2>
  </div>
</div>